@import url(https://fonts.googleapis.com/css?family=Droid+Sans+Mono);
#body {
	padding: 20px;
	max-width: 800px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	padding-bottom: 20px;
}

h2 {
	padding-top: 20px;
	padding-bottom: 10px;
}

p {
	padding-bottom: 10px;
}

body {
	background-color: black;
}

a {
	color: green;
}

.indent {
	padding-left: 40px;
	font-size: 90%;
	padding-bottom: 10px;
}

#footer {
	padding-top: 80px;
	text-align: center;
}

/* Text styling */
h1 {
	font-family: 'Droid Sans Mono';
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 26.4px;
	color: lime;
}
h2 {
	font-family: 'Droid Sans Mono';
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 15.4px;
	color: lime;
}
h3 {
	font-family: 'Droid Sans Mono';
	font-size: 100%;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	color: lime;
}
p {
	font-family: 'Droid Sans Mono';
	font-size: 100%;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	padding-left: 10px;
	color: lime;
}
blockquote {
	font-family: 'Droid Sans Mono';
	font-size: 17.5px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 25px;
	padding-left: 10px;
	color: lime;
}
pre {
	font-family: 'Droid Sans Mono';
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
	color: lime;
}